<div class="container" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/#!/" class="navbar-brand">Andonation</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
      <li>
        <a href="/auth/google" id='signIn'>Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
      <li><span data-ng-bind="authentication.user.gravatar"></span></li>
      <li>
        <a href="/#!/campaign/add" id="myCampaign">Add Campaign</a>
      </li>
      <li>
        <a href="#" id="myAndonation">My Andonation</a>
      </li>
       <li><a href="/auth/signout" id="signout">Signout</a></li>
    </ul>
  </nav>
</div>