<section data-ng-controller="HomeController">
  <div class="slides_control">
    <div class="carousels">
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}"class="caros-img" width="1400" height="100%" style="margin:auto;">
          <div class="carousel-caption">
            <h3 ng-bind="slide.caption"></h3>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

   
    <div class="custom_side_margin grey"> 
      <div class="container-fluid second-div margin-btm" ng-show="activeCampaigns.length > 0">
        <h3>Most recent campaigns</h3>
      </div>

      <div class="third-div">
          <div class="col-lg-4" ng-repeat="activeCampaign in activeCampaigns | orderBy: 'created'.descending | limitTo:3">
            <div class="home-campaigns">
              <h4><a href="/#!/campaign/{{ activeCampaign.slug}}" class="class-title"> {{activeCampaign.title }}</a></h4><br>
              <p><youtube-video video-id="activeCampaign.youtubeUrl"></youtube-video></p>
              <p><span class="titles"> Amount Needed:</span> <span class="values">{{activeCampaign.amount | currency}}</span></p>
              <p><span class="titles">Deadline:</span> <span class="values">{{activeCampaign.dueDate | date}}</span></p>
              <p class="titles">{{activeCampaign.balance}}</p>
              <p span class="titles">Description</p>
              <p class="values">{{activeCampaign.description |limitTo: 136}} ...</p>
            </div>
          </div>
        <div> 
          <div class="container-fluid pull-right see-more-campaigns margin-btm margin-top" ng-hide="activeCampaigns.length <= 3">
            <a href="/#!/campaigns" id="all-campaigns" ng-click="updateStatus('active')">See All {{activeCampaigns.length}} Active Campaigns</a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <!-- Funded campaigns -->

      <div ng-show="fundedCampaigns.length > 0" class="section">
       <hr class="custom_side_margin">
        <div class="container-fluid second-div margin-btm">
          <h3>Funded Campaigns</h3>
        </div>
        <div class="third-div">
          <div class="col-lg-4" ng-repeat="fundedCampaign in fundedCampaigns | orderBy: 'created'.descending | limitTo:3">
            <div class="home-campaigns">
              <h4><a href="/#!/campaign/{{ fundedCampaign.slug}}" class="class-title"> {{fundedCampaign.title }}</a></h4><br>
              <p><youtube-video video-id="fundedCampaign.youtubeUrl"></youtube-video></p>
              <p><span class="titles"> Amount Needed:</span> <span class="values">{{fundedCampaign.amount | currency}}</span></p>
              <p><span class="titles">Deadline:</span> <span class="values">{{fundedCampaign.dueDate | date}}</span></p>
              <p class="titles">{{fundedCampaign.balance}}</p>
              <p span class="titles">Description</p>
              <p class="values">{{fundedCampaign.description |limitTo: 136}} ...</p>
            </div>
          </div>
          <div> 
            <div class="container-fluid pull-right see-more-campaigns margin-btm margin-top" ng-hide="fundedCampaigns.length <= 3">
              <a href="/#!/campaigns" id="all-campaigns" ng-click="updateStatus('funded')">See All {{fundedCampaigns.length}} Funded Campaigns</a>
            </div>
          </div>
        </div>
      </div>     
    </div>
</section>
