<section data-ng-controller="HomeController">
  <div class="slides_control">
    <div>
      <carousel interval="myInterval" disable-animation="true">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}"class="caros-img" width="1400" height="100%" style="margin:auto;">
          <div class="carousel-caption">
            <h3>Donate and make a dream come true</h3>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="container-fluid"> 
    <div>
      <div class="margin_left second-div margin-btm">
        <h3>Most recent campaigns</h3>
      </div>
      <div class="column third-div">
        <ul>
          <li class="col-lg-4 home-campaigns" ng-repeat="campaign in campaigns | orderBy: 'created'.descending | limitTo:3">
            <p><youtube-video video-id="campaign.youtubeUrl"></youtube-video></p>
            <p><a href="/#!/campaign/{{ campaign.slug}}" class="class-title"> {{campaign.title }}</a></p>
            <p>Amount Needed: ${{campaign.amount}}</p>
            <p>DueDate: {{campaign.dueDate | date}}</p>
            <p>{{campaign.balance}}</p>
            <p class="">Description</p>
            <span class="">{{campaign.description |limitTo: 136}} ...</span>
          </li>
        </ul>
        <div> 
          <div class="pull-right see-more-campaigns margin-btm margin-top" ng-hide="campaigns.length < 3">
            <a href="/#!/campaigns" id="all-campaigns">See All {{campaigns.length + 1}} Campaigns</a>
          </div>
        </div>
      </div>      
    </div>
   </div>
</section>
<footer class="footer">
  <div class="text-center">
    <p>Designed By: The Mando Team &copy; 2015</p>
  </div>
</footer>