.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.home-campaigns {
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
  margin: 2px;
  background-color :#F5EFEE;
  min-height: 17em;
  box-shadow: 2px 1px 2px #CDD1D1;
  padding: 20px;
  border: 2px solid #ddd;
  list-style-type: none;
  color: #222;
}

.class-title {
  font-size: 1.7em;
  color:#2A2B2B;
  text-transform: capitalize;
}

.home-campaigns p {
  font-size: .9em;
  line-height: 1.5em;
}

/* MEDIA SCREEN TO ALLOW CAMPAIGNS FIT PROPERLY */
@media screen and (min-width: 1000px) {
  .home-campaigns {
    width:32%;
  }
}