.content {
  margin-top: 58px;
}

a {
  color: #000;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.btn-success:hover, .btn-success:focus {
  background-image: -webkit-linear-gradient(top, #007B6D 0%, #009587 100%);
  background-image: -o-linear-gradient(top, #007B6D 0%, #009587 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007B6D), to(#009587));
  background-image: linear-gradient(to bottom, #007B6D 0%, #009587 100%);
  background: #009587;
}

.progress {
  height: 20px;
  border: 2px solid #eee;
  margin-bottom: 20px;
  overflow: hidden;;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.home-campaigns {
  -webkit-border-radius: 2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
  height: 500px;
  box-shadow: 0 10px 6px -6px #777;
  padding: 10px 20px 20px;
  border: 1px solid #eee;
  list-style-type: none;
  color: #222;
}

.progress-bar-success, .btn-success {
  background-image: -webkit-linear-gradient(top, #007B6D 0%, #009587 100%);
  background-image: -o-linear-gradient(top, #007B6D 0%, #009587 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007B6D), to(#009587));
  background-image: linear-gradient(to bottom, #007B6D 0%, #009587 100%);
} 

.home-campaigns p {
  font-size: .9em;
  line-height: 1.5em;
  /*font-weight: normal;*/
}

.nav-bar{
  background: -webkit-linear-gradient(top, #00796B , #009688 );
  background: -moz-linear-gradient(top, #00796B , #009688);
  background-size: cover;
}

.nav a {
  color: #fff !important;
}

/*.nav li a:hover {
  color: #292929 !important;
  transition: all linear .2s;
}*/

.margin-top {
  margin-top: 20px;
}

.margin-btm {
  margin-bottom: 20px;
}

.auth-img {
  height: 30px;
  width: 30px;
  border-radius: 80%;
  margin-top: 10px;
}

.logo-image {
  margin-top: -7px;
  height: 65px;
  width: 70px;
}

.margin_left {
  margin-left: 45px;
}
/*.padding_left {
  padding-left: 54px;
}*/

.third-div {
  margin: 0 auto;
}

.see-more-campaigns a{
  color: #222;
  font-weight: bolder;
  font-size: 1.6em;
  text-shadow: 1px 1px 1px #fff;
}

section {
  min-height: 100%;
}

.footer {
  background: #EDEFF1;
  color: #053530;
  height: 70px;
  padding: 20px 0; 
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  margin-top: 20px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding: 30px 0 20px 20px;
}

.custom_side_margin {
  margin-right: 25px;
  margin-left: 25px;
}

.campaign_cards {
  margin-bottom: 30px;
}

.all_campaign_heading {
  padding: 2px 0 0 30px;
}
/* Styling for youtube videos on the home page*/
iframe { 
  height: 260px;
  border-radius: 0;
}

.values {
  font-weight: normal !important;
}

.titles {
  font-weight: bold;
}
/* MEDIA SCREEN TO ALLOW CAMPAIGNS FIT PROPERLY */
/*@media screen and (min-width: 1000px) {
  .home-campaigns {
    width:32%;
  }
}*/

