.content {
  margin-top: 58px;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.home-campaigns {
  -webkit-border-radius: 2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
  margin: 2px;
  height: 100%;
  box-shadow: 0 10px 6px -6px #777;
  padding: 20px;
  border: 1px solid #eee;
  list-style-type: none;
  color: #222;
}

.class-title {
  font-size: 1.7em;
  color:#2A2B2B;
  text-transform: capitalize;
}

.home-campaigns p {
  font-size: .9em;
  line-height: 1.5em;
  font-weight: bold;
}

.nav-bar{
  background: -webkit-linear-gradient(top, #00796B , #009688 );
  background: -moz-linear-gradient(top, #00796B , #009688);
  background-size: cover;
}

.nav a {
  color: #fff !important;
}

/*.nav li a:hover {
  color: #292929 !important;
  transition: all linear .2s;
}*/

.margin-top {
  margin-top: 20px;
}

.margin-btm {
  margin-bottom: 20px;
}

.auth-img {
  height: 30px;
  width: 30px;
  border-radius: 80%;
  margin-top: 10px;
}

.logo-image {
  margin-top: -7px;
  height: 65px;
  width: 70px;
}

.margin_left {
  margin-left: 45px;
}

.third-div {
  margin: 0 auto;
}

.see-more-campaigns a{
  color: #222;
  font-weight: bolder;
  font-size: 1.6em;
  text-shadow: 1px 1px 1px #fff;
}

section {
  min-height: 100%;
}

.footer {
  background: #EDEFF1;
  color: #009688;
  height: 70px;
  padding: 20px 0; 
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  margin-top: 20px;
}

/* Styling for youtube videos on the home page*/
iframe { 
  height: 260px;
  border-radius: 0;
}

/* MEDIA SCREEN TO ALLOW CAMPAIGNS FIT PROPERLY */
@media screen and (min-width: 1000px) {
  .home-campaigns {
    width:32%;
  }
}

