<section data-ng-controller="addCampaignCtrl">
  <div class="row">
    <form name="campaign">
      <label>Title</label>
      <input type="text" class="" id="title" ng-model="campaign.title">
      <label>Deadline</label>
      <input type="date" placeholder="mm/dd/yyyy" id="dueDate"ng-model="campaign.dueDate">
      <label>Amount</label>
      <input type="text" class="" id="amount" ng-model="campaign.amount">
      <label>Description</label>
      <input type="text" class="" id="description" ng-model="campaign.description">
      <label>Youtube Video</label>
      <input type="text" class="" id="youtubeUrl" ng-model="campaign.youtubeUrl">
      <button id="addCampaignButton" ng-click="addCampaign()">Add Campaign</button>
    </form>
  </div>
</section>
