<section data-ng-controller="addCampaignCtrl">
  <div class="container">
    <div class="col-md-12 panel newCampaign_form panel-body">
    <legend>Add a Campaign</legend>
      <div class="col-md-12">
        <div>
          <form name="addcampaign" class="form-horizontal top-form" novalidate>
            <div class="form-group" ng-class="{'has-error': addcampaign.title.$invalid &amp;&amp; addcampaign.title.$dirty}">
              <label for="title" class="col-sm-2 pull-left">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="title" data-ng-model="campaign.title" id="title" placeholder="Enter a Title for your campaign"  ng-minlength="5" maxlength="30" required/>
                <small>* Title should be greater than 5 and less than 30 characters.</small>
                <span class="help-block has-error">
                  <span id="campaignIsRequired" ng-show="addcampaign.title.$error.required &amp;&amp; addcampaign.title.$dirty">Campaign title is required</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error': addcampaign.dueDate.$invalid &amp;&amp; addcampaign.dueDate.$dirty}">
                <label for="dueDate" class="col-sm-2 pull-left">Deadline</label>
                <div class="col-sm-3 dueDate">
                  <input type="text" name="dueDate" id="dueDate" class="form-control" datepicker-popup="MMMM/dd/yyyy" ng-model="campaign.dueDate" is-open="opened" min-date="minDate" max-date="maxDate" ng-required="true" close-text="Close" placeholder="Click the calendar to pick a deadline" ng-disabled="true"/>
                </div>
                <span class="col-sm-1 calendar">
                  <button type="button" class="btn btn-default dateBtn" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
              <div ng-class="{'has-error': addcampaign.amount.$invalid &amp;&amp; addcampaign.amount.$dirty}">
                <label for="amount" class="col-sm-2 control-label">Amount:</label>
                <div class="col-sm-4">

                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" min="0" class="form-control" ng-model="campaign.amount" name="amount" id="amount" placeholder="Enter the amount needed for this campaign" required>
                    <div class="input-group-addon">.00</div>
                  </div>
                  <small>* Enter campaign needs in Dollars.</small>
                    <span class="help-block has-error addcampaign.amount.$dirty">
                      <span id="isInvalidErr" ng-show="addcampaign.amount.$error.number">Please enter a valid number</span>
                      <span id="isEmptyErr" ng-show="addcampaign.amount.$error.required &amp;&amp; !addcampaign.amount.$error.number &amp;&amp; addcampaign.amount.$dirty">This field can not be empty, please enter an amount</span>
                      <span id="isNegative" ng-show="addcampaign.amount.$error.min">Amount cannot be negative</span>
                  </span>
                </div>
                </div>
              </div>
            <div class="form-group" ng-class="{'has-error': addcampaign.description.$invalid &amp;&amp; addcampaign.description.$dirty}">
              <label for="description" class="col-sm-2 pull-left">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control description" ng-model="campaign.description" id="description" name="description" placeholder="Type in the description for this campaign" minlength="150" required></textarea>
                <small>* Give a detailed description of what the campaign is about. Description should be more than 150 characters.</small>
                <span class="badge pull-right" ng-bind="campaign.description.length"></span>
                <span class="help-block has-error">
                  <span id="descriptionErr" ng-show="addcampaign.description.$error.required &amp;&amp; addcampaign.description.$dirty">Campaign Description is required</span>
                </span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': (addcampaign.youtubeUrl.$invalid &amp;&amp; addcampaign.youtubeUrl.$dirty) || youtubeError || (addcampaign.youtubeUrl.$error.url)}">
              <label for="youtubeUrl" class="col-sm-2 pull-left">Youtube Video</label>
              <div class="col-sm-10">
                <input type="url" class="form-control" ng-model="campaign.validYoutubeUrl" ng-change="validateYoutubeUrl(campaign.validYoutubeUrl, addcampaign.youtubeUrl.$valid)" name="youtubeUrl" id="youtubeUrl" placeholder="Enter the Youtube Url for your campaign" required>
                <small>* Supply the URL to your Youtube campaign video one of the following formats: <a target="_blank" href="https://www.youtube.com/watch?v=vhJik9S9nxg">https://www.youtube.com/watch?v=vhJik9S9nxg</a>, <a target="_blank" href="http://youtu.be/vhJik9S9nxg">http://youtu.be/vhJik9S9nxg</a> or <a target="_blank" href="http://y2u.be/vhJik9S9nxg">http://y2u.be/vhJik9S9nxg</a></small>
                <span class="help-block has-error" id="url-required" ng-show="addcampaign.youtubeUrl.$error.required &amp;&amp; addcampaign.youtubeUrl.$dirty &amp;&amp; !addcampaign.youtubeUrl.$error.url">The Youtube url of the campaign is required</span>
                <span class="help-block has-error" id="invalid-url" ng-show="addcampaign.youtubeUrl.$error.url &amp;&amp; addcampaign.youtubeUrl.$dirty">Please enter a valid youtube url</span>
                <span class="help-block has-error" id="youtube-error" ng-show="youtubeError &amp;&amp; !addcampaign.youtubeUrl.$error.required &amp;&amp; !addcampaign.youtubeUrl.$error.url">Youtube Error: {{youtubeError}}</span>
              </div>
            </div>
            <div class="form-group pull-right">
              <div class="col-sm-10">
                 <button class="btn btn-default" name="addCampaignBtn" id="addCampaignBtn" ng-click="addCampaign()" ng-disabled="addcampaign.$invalid || youtubeError">Add Campaign</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>