<section data-ng-controller="allCampaignCtrl">
  <div class="row">
    <ul>
      <div class="pull-right">
        Sort By:
        <select ng-model="criteria" style="margin-right: 42px;">
          <option value="created"> Date created </option>
          <option value="dueDate"> Dead-Line(Nearest to Furthest)</option>
          <option value="-dueDate"> Dead-Line(Furthest to Nearest)</option>
          <option value="amount"> Amount(Lowest to Highest)</option>
          <option value="-amount"> Amount(Highest to Lowest)</option>
        </select>
      </div>
      <h2> All Current Campaigns</h2>
      <li class="col-sm-4 home-campaigns" data-ng-repeat="campaign in Campaigns | orderBy: criteria">
        <p><youtube-video video-id="campaign.youtubeUrl"></youtube-video></p>
        <p><a href="/#!/campaign/{{campaign.slug}}" class="class-title">{{campaign.title}}</a>
        </p>
        <p> Amount Needed: <span class="text-info">{{campaign.amount | currency}}</span></p>
        <p> Deadline: <span class="text-info">{{campaign.dueDate | date}}</span></p>
        <p> {{campaign.balance}}</p>
        <span style="font-weight: bold;">Description</span>
        <p class="" style="font-weight: normal;">{{campaign.description |limitTo: 136}} ...</p>
      </li>
    </ul>

  </div>

  <div class="text-center" ng-show="campaigns.length > itemsPerPage">
    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()">
    </pagination>
    <p>
      <em> Displaying {{startItems}} - {{endItems}} out of
        {{totalItems}} Campaigns.
      </em>
    </p>
  </div>
</section>
