<section class="container">
  <div>
    <h3 class="title_margin">ALL OF MY CAMPAIGNS</h3>
    <div ng-show="myCampaigns">
      <table class="table table-bordered table-striped">
      <tt>
        <th>Title</th>
        <th>Status</th>
        <th>Amount Needed</th>
        <th>Amount Raised</th>
        <th>Created</th>
        <th>Deadline</th>
        <th>Backers</th>
      </tt>
      <tr data-ng-repeat="campaign in myCampaigns | orderBy: 'created'.descending">
        <td class="userCampaignTitle"><a href="/#!/campaign/{{campaign.slug}}">{{campaign.title}}</a></td>
        <td class="text-capitalize">{{campaign.status}}</td>
        <td>{{campaign.amount | currencyflt}}</td>
        <td>{{campaign.raised | currencyflt}}</td>
        <td>{{campaign.created | date}}</td>
        <td>{{campaign.dueDate | date}}</td>
        <td>{{campaign.backers}}</td>
      </tr>
    </table>
    </div>
  </div>
</section>