<section data-ng-controller="editCampaignCtrl">
  <div class="container">
    <div class="col-md-12 panel newCampaign_form" data-ng-show=" authentication.user._id === campaign.createdBy._id">
      <legend id="editcampaign-head">Edit Campaign</legend>
      <form name="editcampaignform" class="form-horizontal top-form" novalidate>
        <div class="col-md-12">
        <div class="">
            <div class="form-group" ng-class="{'has-error': editcampaignform.title.$invalid &amp;&amp; editcampaignform.title.$dirty}">
              <label for="title" class="col-sm-2 pull-left">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="title" data-ng-model="campaign.title" id="title" placeholder="Enter a Title for your campaign"  ng-minlength="5" ng-maxlength="30" required />
                <small>* Title should be greater than 5 and less than 30 characters.</small>
                <span class="help-block has-error">
                  <span id="campaignIsRequired" ng-show="editcampaignform.title.$error.required &amp;&amp; editcampaignform.title.$dirty">Campaign title is required</span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error': addcampaign.dueDate.$invalid &amp;&amp; addcampaign.dueDate.$dirty}">
                <label for="dueDate" class="col-sm-2 pull-left">Deadline:</label>
                <div class="col-sm-4 dueDate">
                  <div class="input-group input-append date" id="datePicker" ng-click="open($event)">
                    <input type="text" name="dueDate" id="dueDate" class="form-control" datepicker-popup="MMMM/dd/yyyy" ng-model="campaign.dueDate" is-open="opened" min-date="minDate" max-date="maxDate" ng-required="true" close-text="Close" placeholder="Click the calendar to pick a deadline" readonly/>
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>

              </div>
              <div ng-class="{'has-error': editcampaignform.amount.$invalid &amp;&amp; editcampaignform.amount.$dirty}">
                <label for="amount" class="col-sm-2 pull-left">Amount:</label>
                <div class="col-sm-4">

                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" min="0" class="form-control" ng-model="campaign.amount" name="amount" id="amount" placeholder="Enter the amount needed for this campaign" required>
                    <div class="input-group-addon">.00</div>
                  </div>
                  <small>* Enter campaign needs in Dollars.</small>
                    <span class="help-block has-error editcampaignform.amount.$dirty">
                      <span id="isInvalidErr" ng-show="editcampaignform.amount.$error.number">Please enter a valid number</span>
                      <span id="isEmptyErr" ng-show="editcampaignform.amount.$error.required &amp;&amp; !editcampaignform.amount.$error.number &amp;&amp; editcampaignform.amount.$dirty">This field can not be empty, please enter an amount</span>
                      <span id="isNegative" ng-show="editcampaignform.amount.$error.min">Amount cannot be negative</span>
                  </span>
                </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': editcampaignform.description.$invalid &amp;&amp; editcampaignform.description.$dirty}">
              <label for="description" class="col-sm-2 pull-left">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control description" ng-model="campaign.description" id="description" name="description" placeholder="Type in the description for this campaign" required ng-minlength="150"></textarea>
                <small>* Give a detailed description of what the campaign is about. Description should be more than 150 characters.</small>
                <span class="help-block has-error">
                  <span id="descriptionErr" ng-show="editcampaignform.description.$error.required &amp;&amp; editcampaignform.description.$dirty">Campaign Description is required</span>
                </span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': (editcampaignform.youtubeUrl.$invalid &amp;&amp; editcampaignform.youtubeUrl.$dirty) || youtubeError || (editcampaignform.youtubeUrl.$error.url)}">
              <label for="youtubeUrl" class="col-sm-2 pull-left">Youtube Video</label>
              <div class="col-sm-10">
                <input type="url" class="form-control" ng-model="campaign.youtubeUrl" ng-change="validateYoutubeUrl(campaign.youtubeUrl)" name="youtubeUrl" id="youtubeUrl" placeholder="Enter the Youtube Url for your campaign" required>
                <small>* Supply the URL to your Youtube campaign video one of the following formats: <a target="_blank" href="https://www.youtube.com/watch?v=vhJik9S9nxg">https://www.youtube.com/watch?v=vhJik9S9nxg</a> or <a target="_blank" href="http://youtu.be/vhJik9S9nxg">http://youtu.be/vhJik9S9nxg</a>.</small>
                <span class="help-block has-error" ng-show="editcampaignform.youtubeUrl.$error.required &amp;&amp; editcampaignform.youtubeUrl.$dirty &amp;&amp; !editcampaignform.youtubeUrl.$error.url">The Youtube url of the campaign is required</span>
                <span class="help-block has-error" ng-show="editcampaignform.youtubeUrl.$error.url &amp;&amp; editcampaignform.youtubeUrl.$dirty">Please enter a valid youtube url</span>
                 <span class="help-block has-error" ng-show="youtubeError &amp;&amp; !editcampaignform.youtubeUrl.$error.required &amp;&amp; !editcampaignform.youtubeUrl.$error.url">Youtube Error: {{youtubeError}}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                  <div class="col-sm-6">
                   <button class="btn btn-danger" name="deleteCampaignBtn" id="deleteCampaignBtn" ng-click="deleteCampaign()">Delete Campaign</button>
                  </div>

                  <div class="col-sm-6">
                    <button class="btn btn-success pull-right" name="editCampaignBtn" id="editCampaignBtn" ng-click="editCampaign()" ng-disabled="editcampaignform.$invalid || youtubeError">Save Changes</button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
