<section>
  <div class="modal-header text-center">
    <h5 class="modal-title">Enter amount to support this campaign</h5>
    Your account balance is {{userAccountBalance | currencyflt}}
  </div>
  <form name="supportCampaign" class="text-center" novalidate>
    <div class="modal-body text-center">
      <p ng-show="supportCampaign.$invalid &amp;&amp;supportCampaign.$dirty" class="error text-muted red">Please Enter A Valid Amount</p>
      <p ng-show="amount > userAccountBalance" class="error text-muted red">You cannot support more than your account balance</p>
      <p ng-show="amount + campaignBalance > amountNeeded" class="error text-muted red">The campaign need is {{amountNeeded | currencyflt}}, you cannot support more than what the campaign needs</p>
      <input type="number" name="deposit" data-ng-model="amount" Placeholder="Enter amount to support">
    </div>
    <div class="modal-footer footer-center">
      <button class="btn btn-primary" ng-click="ok()" ng-disabled="supportCampaign.$invalid || amount > userAccountBalance || amount + campaignBalance > amountNeeded">Support</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</section>
