<section data-ng-controller="viewCampaignCtrl">
<div class="row">
  <div class="row">
    <h2>title <span>{{campaign.title}}</span></h2>
    <p>createdBy</p>
    <p>dueDate</p>
  </div>
  <div class="row">
    <div class="col-md-8"><p>Description</p>
        <p data-ng-bind='campaign.description'></p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <button></button>
        <div>
          <p>Needs: <span>{{campaign.amount}}</span></p>
          <p>Raised: {{}}</p>
        </div>
      </div>
      <div class="row">
        <div>youtubeurl</div>
      </div>
    </div>
  </div>
</div>
</section>