<section id="section">
  <div class="container main-container">
    <div class="row col-md-10 col-md-offset-1">
      <div class="<col-md-5>">
        <div class="col-md-6">
          <p class="title" data-ng-bind="campaign.title"></p>
          <p class="CreatedAndDeadline">Created By: {{campaign.createdBy.displayName}} <span data-ng-show="authentication.user._id === campaign.createdBy._id"><a href="/#!/campaign/{{campaign.slug}}/edit" id="editBtn">EDIT CAMPAIGN </a></span></p>
          <p class="CreatedAndDeadline">Deadline: {{campaign.dueDate | date}}</p>
          <p>{{campaign.description}}</p>
        </div>
      </div>
      <div class="col-md-5">
        <div>
        <!--Disabled the support button for unauthenticated user -->
          <button class="btn btn-success btn-lg supportbtn"  data-ng-disabled="!authentication.user" ng-click="openModal()">$SUPPORT</button>
        </div>
          <p class="cash">Needs: ${{campaign.amount}}</p>
          <p class="cash">Raised: ${{campaignBalance}}</p>
        <div>
          <youtube-video video-id="campaign.youtubeUrl"></youtube-video>
        </div>
      </div>
    </div>
  </div>
  <div>
    <table ng-table="tableParams" class="table">
      <tr ng-repeat="backer in $data">
        <td data-title="'Name'" sortable="'userid.displayName'">
          {{backer.userid.displayName}}
        </td>
        <td data-title="'Date'" sortable="'created'">
          {{backer.created | date}}
        </td>
        <td data-title="'Amount'" sortable="'amountDonated'">
          {{backer.amountDonated | currency}}
        </td>
      </tr>
    </table>
  </div>
</section>
