<section>
  <div class="modal-header">
    <h3 class="modal-title">
      Which roles do you want to remove or add
    </h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="role in roles">
        <div>
        <input type="checkbox" ui-indeterminate="role.count < NoOfUser" ng-model="role.checked" ng-click="disableSaveButton(role.isAdmin, role.checked)">{{role.roleType}}{{role.checked}}
      </div>
      </li>
    </ul>
    <div ng-show="disable" class="label label-danger">
      You cannot remove admin role from yourself
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()">Cancel</button>
    <button ng-click="ok()" ng-disabled="disable">Save</button>
  </div>
</section>