<section data-ng-controller="transactionCtrl">
  <div>
    <p> System Balance: {{balance.amount | currency : symbol : fractionSize}}</p>
  </div>
  <div>
    <p>ALL TRANSACTION DETAILS</p>
    <table class="table table-bordered"> 
    <div class="pull-right"><button class="btn btn-warning withdraw" ng-click="openModalWithdraw('sm')">WITHDRAW</button><button class="btn btn-success" ng-click="openModalDeposit('sm')">Deposit</button></div>
      <tt>
        <th>Date</th>
        <th>Description</th>
        <th>Transaction Type</th>
        <th>Amount</th>
        <th>by</th>
      </tt>
      <tr data-ng-repeat ="transaction in journal">
        <td>{{transaction.posted_at | date }}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.value.type}}</td>
        <td>{{transaction.value.amount}}</td>
        <td>{{transaction.reference}}</td>
      </tr>
    </table>
  </div>
</section>
<!-- <button class="btn btn-success" ng-click="deposit()"> DEPOSIT</button> -->