<section data-ng-controller="transactionCtrl">
  <div>
    <p> System Balance: {{balance.amount | currency : symbol : fractionSize}}</p>
  </div>
  <div>
    <p>ALL TRANSACTION DETAILS</p>
    <div class="pull-right"><form name="withDrawForm "><input type="number" ng-model="withdrawal.amount"><button class="btn btn-warning withdraw" ng-click="withdrawFromBank(withdrawal)">WITHDRAW</button></form></div>
    <table class="table table-bordered">
      <tt>
        <th>Date</th>
        <th>Description</th>
        <th>Transaction Type</th>
        <th>Amount</th>
        <th>by</th>
      </tt>
      <tr data-ng-repeat ="transaction in journal">
        <td>{{transaction.posted_at | date }}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.value.type}}</td>
        <td>{{transaction.value.amount}}</td>
        <td>{{transaction.reference}}</td>
      </tr>
    </table>
  </div>
</section>
<!-- <button class="btn btn-success" ng-click="deposit()"> DEPOSIT</button> -->