<div class="modal-header text-center">
  <h5 class="modal-title">WITHDRAW FROM ACCOUNT</h5>
  <h6>Your Current Balance is {{systemBalance}}</h6>
</div>
<form name="withdrawForm" class="text-center" novalidate>
 
  <div class="modal-body text-center">
    <p ng-show="message" class="error text-muted red">You cannot withdraw beyond your current balance</p>
    <p ng-show="withdrawForm.$invalid &amp;&amp; withdrawForm.$dirty" class="error text-muted red">Please Enter A Valid Amount</p>
    <input type="number" name="withdraw'" data-ng-model="withdraw" ng-change="checkBalance()" Placeholder="Amount to Withdraw" required>
  </div>
  <div class="modal-footer footer-center">
    <button class="btn btn-primary" ng-click="ok(withdraw)" ng-disabled="accountIsLower || withdrawForm.$invalid">Withdraw</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
