/*gives the form description a height of 300px*/
.description {
  height: 300px !important;
}
/*adds top margin to form*/
.top-form {
  margin-top: 30px;
}

.calendar {
  padding-left: 0
}

.dueDate {
  padding-right: 0
}

.main-container {
  margin-top: 30px;
}
/*hides pagination div*/
.ng-table-pagination {
  display: none;
}

.title {
  font-size: 4vh;
  font-weight: bold;
}

.CreatedAndDeadline {
  font-weight: bold;
}

.cash {
  font-weight: bold;
  font-size: 2.5vh;
}

.justify {
  text-align: justify;
}

.supportbtn {
  width:50%;
}

.tb-head {
 background-color: #00a4d4 !important;
}

.btn-default {
  border: transparent;
}

iframe {
  width: 100%;
  border-radius: 10px;
}

.values {
  font-weight: normal !important;
}

.titles {
  font-weight: bold;
}

.viewCampaignWrapper {
  text-align: justify;
  margin-top: 30px;
}

.campaignTableMargins {
  margin-bottom: 75px;
}

.balances {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}

.ng-table th {
 text-align: left!important;
}

.supportMyCampaign {
  color: red;
}

.supportFootnote {
  font-size: 13px;
  font-style: italic;
}

.myAndonationWrapper {
  margin-top: 45px;
}

.andonationSubheadings {
  font-size: 23px;
}