<section ng-show="isDistributor">
  <div>
    <h2>My Distribution Details</h2>
    <table class="table table-striped tb-head ">
      <tt>
        <th>Date</th>
        <th>Description</th>
        <th>Transaction Type</th>
        <th>Amount</th>
        <th>Authorized by</th>
        <th>Balance</th>
      </tt>
      <tr ng-repeat="transaction in distribution |filter: query">
        <td>{{transaction.effective_at | date}}</td>
        <td>{{transaction.description.description}}</td>
        <td>{{transaction.value.type}}</td>
        <td>{{transaction.value.amount |currencyflt}}</td>
        <td>{{transaction.description.name}}</td>
        <td>{{transaction.balance.value.amount}}</td>
      </tr>
    </table>
  </div>
</section>